section{
 display : flex;
 flex-direction: column;
 gap : 24px;

  >div{
   display : flex;
   flex-direction: column;
   gap : 15px;
   h4{
    margin-bottom: 15px;
   }
  }

 hr{
  background: #C4C4C4;
  height: 1px;
  max-width: 616px;
  margin-top: 22px;
 }
 h2{
  margin-top:51px
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;

 }
  
}

.mainOpcao{
 display : flex;
 flex-direction: column;
 gap : 22px;
 input{
  margin-right: 5px;
 }
}
