section{
 display : flex;
 flex-direction: column;
 gap : 24px;

  >div{
   display : flex;
   flex-direction: column;
   gap : 15px;
   h4{
    margin-top: 10px;
   }
  }

 hr{
  background: #C4C4C4;
  height: 1px;
  max-width: 616px;
  margin-top: 22px;
 }
 h2{
  margin-top:72px
 }
  
}

.mainOpcao{
 display : flex;
 flex-direction: column;
 gap : 22px;
 input{
  margin-right: 5px;
 }
}


