*{
 margin:0;
 padding:0;
 box-sizing: border-box;
 text-decoration: none;
}
body{
 font-family: 'Ubuntu', sans-serif;
 background: #F0F0F0;

}
.App{
 padding-left: 60px ;
 padding-top: 40px;
 background: #FFFFFF;
 max-width: 860px; 
 height: 100%;
 min-height: 500px;
 border-radius: 12px;
 margin:60px auto;
}
input[type = 'radio']{
 all: inherit;
 direction: ltr;
 background: #FFFFFF;
 padding: 0px 0px; 
 color: #222222;
 position:relative;
 width: 16px!important;
 height: 16px;
  border:2px solid #000099;
  margin-right: 5px;
}
input[type = 'radio']:checked{
background: #000099;
}
