*{
 margin:0;
 padding:0;
 box-sizing: border-box;
 text-decoration: none;
}
body{
 font-family: 'Ubuntu', sans-serif;
 background: #F0F0F0;

}
.App{
 padding-left: 60px ;
 padding-top: 40px;
 background: #FFFFFF;
 max-width: 860px; 
 height: 100%;
 min-height: 500px;
 border-radius: 12px;
 margin:60px auto;
}
input[type = 'radio']{
 "background-color: #B0E0E6; 
  font: 12px verdana, arial, helvetica, sans-serif; ,
  color:#003399; 
  border:2px solid #000099;
}
