*{
 margin:0;
 padding:0;
 box-sizing: border-box;
 text-decoration: none;
}
body{
 font-family: 'Ubuntu', sans-serif;
 background: #F0F0F0;

}
.App{
 padding-left: 60px ;
 padding-top: 40px;
 background: #FFFFFF;
 max-width: 860px; 
 height: 100%;
 min-height: 500px;
 border-radius: 12px;
 margin:60px auto;
}
label {
 display: inline-block;
 cursor: pointer;
 position: relative;
 padding-left: 25px;
 margin-right: 15px;
 font-size: 13px;
}

input[type=radio] {
 display: none;
}

label:before {
 content: "";
 display: inline-block;

 width: 16px;
 height: 16px;


 margin-right: 10px;
 position: absolute;
 left: 0;
 top: 1px;
 bottom: 1px;
 border:solid #222222 3px;

 background-color: white;
}

input[type=radio]:checked + label:before {
 content: "";
 background-image: url(../img//backgroundRadio.png);
 background-size: 18px;
 background-position: center;
 text-align: center;
 line-height: 18px;
}
