*{
 margin:0;
 padding:0;
 box-sizing: border-box;
 text-decoration: none;
}
body{
 font-family: 'Ubuntu', sans-serif;
 background: #F0F0F0;

}
.App{
 padding-left: 60px ;
 padding-top: 40px;
 background: #FFFFFF;
 max-width: 860px; 
 height: 100%;
 min-height: 500px;
 border-radius: 12px;
 margin:60px auto;
}


input[type='radio'] {
all: unset;
content: '';
position: relative;
padding: 3px 9px;
background-color: white;
border: solid black 2px;
height: 18px;
width: 18px;
margin-right: 5px;


}
input[type='radio']:checked {
 content: 's';
 color: white;
 background-image: url('../img/backgroundRadio.png');
 background-repeat: round;
 background-position: center;

 
 }
