.divButton{
 display : flex;
 button{
  height: 56px;
  width: 235px;
  border-radius: 8px;
  background: #1B50B6;
  color : white;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
 }
}

