main{
 display : flex;
 flex-direction: column;
 gap : 24px;

  >div{
   display : flex;
   flex-direction: column;
   gap : 15px;
  }

 hr{
  background: #C4C4C4;
  height: 1px;
  max-width: 616px;
 }
  
}

.mainOpcao{
 display : flex;
 flex-direction: column;
 gap : 15px;
}


input[type=radio] {
 border: 1px solid #fff;
 padding: 0.5em;
 -webkit-appearance: none;
}

input[type=radio]:checked {
 background: url(data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==) no-repeat center center;
 background-size: 9px 9px;
}

input[type=radio]:focus {
 outline-color: transparent;
}