.divResultado{
  display: flex;
  flex-direction: column;
}
.divResultadoGrafico{
 border:solid  black 1px ;
 border-top: none;
 border-right: none;
 width: 500px;
 height: 500px;
 margin-top: 78px;
 margin-left: 143px;
 display: flex;
 gap: 30px;
 padding:0px  50px;
  div{
    display: flex;
    align-items: flex-end;
  }
  .divCont{
    gap:10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .graficoMat{
    width: 60px;
    background-color: #1B50B6;
    height: 308px
 }
 .graficoGeo{
  width: 60px;
  background-color: #1B50B6;
  height: 308px
}
.graficoHis{
  width: 60px;
  background-color: #1B50B6;
  height: 308px
}

}
.linkResultado{
 color: #1B50B6;
 height: 56px;
 width: 235px;
 border-radius: 8px;
 border: 1px solid #1B50B6;
 display: flex;
 align-items: center;
 justify-content: center;
 align-self: center;
 margin-bottom: 150px;
 margin-top: 72px;
 font-family: Ubuntu;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  margin-right: 60px;


}
.h2Resultado{
 margin-top: 48px ;
 font-family: Ubuntu;
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: 55px;
letter-spacing: 0em;
text-align: left;
}
.divTexto{
  display: flex;
  width: 500px;
  margin-left: 143px;
  gap: 70px;
  color: #000000;
  font-family: Ubuntu;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;


}

@media screen and (max-width:850px) {
  .divResultadoGrafico{
    max-width: 500px;
    margin: 0 auto;
  }
  .divTexto{
    max-width: 500px;
    margin: 0 auto;
  }
}

@media screen and (max-width:600px) {
  .divResultadoGrafico{
    border:solid  black 1px ;
    border-top: none;
    border-right: none;
    width: 500px;
    height: 500px;
    margin-top: 78px;
    margin-left: 143px;
    display: flex;
    gap: 30px;
    padding:0px  50px;
     div{
       display: flex;
       align-items: flex-end;
     }
     .divCont{
       gap:10px;
       display: flex;
       flex-direction: column-reverse;
       align-items: center;
     }
     .graficoMat{
       width: 60px;
       background-color: #1B50B6;
       height: 308px
    }
    .graficoGeo{
     width: 60px;
     background-color: #1B50B6;
     height: 308px
   }
   .graficoHis{
     width: 60px;
     background-color: #1B50B6;
     height: 308px
   }
   
  }
}